body {
    font-family: Arial;
}

body {
  color: : blue;
}

h1 {
  font-size: 14px;
  text-decoration-color: black;
}

isotope-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

button {
  width: 140px;
  margin: auto;
}

.portfolioFilter a {
  margin-right: 2px;
	color:#666;
	text-decoration:none;
}

.portfolioContainer {
  width: 1000px;
  height: 1000px;
  margin: auto;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  margin-bottom: 5px;
  margin-top: 50px;
}

.portfolioFilter a.current {
    font-weight:bold;
}

.portfolioFilter {
  width: 1000px;
  height: 100px;
  margin: auto;
}

img {
    margin:5px;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
