<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>things</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
  </head>

  <body>
    hello //////////
    <div class="element">
        {{#each element}}
          <h5>{{name}}</h5>
          <h5>{{element}}</h5>
        {{/each}}
    </div>

        {{#each element}}
    <button>{{element}}</button>
{{/each}}

<style>

</style>
    </div>
    <script src="index.js"></script>
  </body>
</html>
