<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>things</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
        <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="../jquery.isotope.js" type="text/javascript"></script>

  </head>

  <body>

<div class="overlordb">-|+  [.O|]   ||+++||+++||   [.O|]  -|+</div>

  <div class="overlord">
    <div class="portfolioContainer">
        {{#each formatted}}
          <div class="{{classes}}">
            <div class="name">{{name}}</div>
            <img src="../image/{{name}}.jpg" width="100" height="100">
          </div>
        {{/each}}
    </div>
  </div>

  <div class="portfolioFilter">
    <button><a href="#" data-filter="*" class="current">All</a></button>
    <button><a href="#" data-filter=".deep">deep</a></button>
    <button><a href="#" data-filter=".melodic">melodic</a></button>
    <button><a href="#" data-filter=".bridge">bridge</a></button>
    <button><a href="#" data-filter=".ghetto">ghetto</a></button>
    <button><a href="#" data-filter=".tech">tech</a></button>
    <button><a href="#" data-filter=".punk">punk</a></button>
    <button><a href="#" data-filter=".main">main</a></button>
    <button><a href="#" data-filter=".driving">driving</a></button>
    <button><a href="#" data-filter=".morgan">morgan</a></button>
  </div>

    <script type="text/javascript">

  $(window).load(function(){
      var $container = $('.portfolioContainer');
      $container.isotope({
          filter: '*',
          animationOptions: {
              duration: 750,
              easing: 'linear',
              queue: false
          }
      });

      $('.portfolioFilter a').click(function(){
          $('.portfolioFilter .current').removeClass('current');
          $(this).addClass('current');


          var selector = $(this).attr('data-filter');
          $container.isotope({
              filter: selector,
              animationOptions: {
                  duration: 750,
                  easing: 'linear',
                  queue: false
              }
           });
           return false;
      });
  });

  </script>



  </body>
</html>
