<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>things</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css"> -->
  </head>

  <body>
    hello
    <div id="element">
        {{#each elements}}
    <h1>  {{element}} {{name}}</h1>
            {{/each}}
    </div>

    {{#each elements}}
<h1>{{artist}} {{element}} </h1>
{{/each}}

<style>

</style>
    </div>
    <script src="index.js"></script>
  </body>
</html>
