<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>things</title>

    <link rel="stylesheet" href="./style.css">

  </head>
  <body>
    <div id="things">
        {{#each things}}
          <h1>{{name}} >>>>>>> {{element}}</h1>
            {{/each}}
    </div>

<style>

background-color: blue,
/*.h1 {
  font-size: 20px;
  text-decoration-color: black;
}*/
</style>
    </div>
    <script src="index.js"></script>
  </body>
</html>
