<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>things</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css"> -->
  </head>

  <body>
    <div class="fb-login-button"
      onlogin="checkLoginState"
      data-max-rows="1"
      data-size="large"
      data-show-faces="false"
      data-auto-logout-link="true"></div>
    <div id="status"></div>
    <script src="auth.js"></script>



    <div id="things">
        {{#each things}}
          <h1>{{name}} >>>>>>> {{artist}}</h1>
            {{/each}}
    </div>

    <div id="things">
        {{#each things}}
          <button> {{element}}</button>
            {{/each}}
    </div>

<style>

</style>
    </div>
    <script src="index.js"></script>
  </body>
</html>
