<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tracks</title>
    <script id="entry-template" type="text/x-handlebars-template">
  </head>
  <body>
    {{#each music}}
    <p> the track is{{tracks}}, by {{artist}} it sounds like {{element}}
      {{/each}} </p>
  </body>
</html>
