<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tracks</title>

    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <!-- <script type="text/x-handlebars-template"> -->
    <div id="music">
        {{#each tracks}}
          <h1>{{name}}    {{artist}}</h1>
            {{/each}}
    </div>



        {{#each tracks}}
          <h1>{{name}}    {{artist}}</h1>
            {{/each}}


    </div>
    <script src="index.js"></script>
  </body>
</html>
