<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tracks</title>
    <script type="text/x-handlebars-template">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="music">
        {{#each tracks}}
          <h1>{{music.name}} {{artist}}</h1>
            {{/each}}
    </div>

    <script src="index.js"></script>
  </body>
</html>
