body {
    font-family: Arial;
}

button {
  width: 86px;
  margin: auto;
  margin-right: 10px;

}

.portfolioFilter a {

	color:#666;
	text-decoration:none;
}

.portfolioContainer {

}
.overlordb {
  width: 880px;
  height: 135px;
  margin: auto;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 90px;
  text-align: center;
}

.overlord {
  width: 880px;
  height: 235px;
  margin: auto;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 5px;
  margin-top: 50px;
}



.portfolioFilter a.current {
    font-weight:bold;
}

.portfolioFilter {
  width: 900px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}

img {
    margin:5px;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
