body {
    font-family: Arial;
}

.name {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  background-color: black; opacity:0.8;;
}

.classes {
  position: absolute;
  /*left: 5px;*/
  top: 10px;
  color: blue;
  font-size: 5px;
}

.overlordb {
  width: 1000px;
  height: 140px;
  margin: auto;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 84px;
  text-align: center;
  color: black; opacity:0.7;
}

.overlord {
  width: 1000px;
  height: 235px;
  margin: auto;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 5px;
  margin-top: 50px;
}

button {
  width: 100px;
  /*margin: auto;*/
  margin-right: -50%;
}

.portfolioFilter a {
	color:#666;
	text-decoration:none;
}

.portfolioFilter a.current {
    font-weight:bold;
}

.portfolioFilter {
  width: 1050px;
  height: 100px;
  margin: auto;
  margin-top: 50px;
}

img {
    margin:5px;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
