body {
    font-family: Arial;
}

/*.element {
       color:red;
       width:200px;
       height:200px;
       border-color: grey;
       border-width: 2px;*/
}

button {
font-size: 10px;
}

button {
  width: 110px;
  margin: auto;
}
